@model Game
<h3>@TempData["LoanedTo"]</h3>

@if(Model == null)
{
    <h2>No Games in Collection</h2>
}
else
{
    <div class="text-center" id="@Model.Id.ToString()">
        <table class="table table-bordered table-hover text-center">
            
            <tr>
                <th>
                    <img src="~/images/@Model.Image" width="400" height="500" />
                </th>
            </tr>
    
            <tr class="col-sm-12 row">
                <td class="text-primary">
                    <h1>
                        <b><i>
                            @Model.Title
                        </i></b>
                    </h1>
                </td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td class="text-secondary">Platform: @Model.Platform</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td class="text-secondary">Genre(s): @Model.Genre</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td class="text-secondary">ESRB Rating: @Model.Rating</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td class="text-secondary">Year: @Model.Year</td>
            </tr>

            <form class="d-flex" asp-controller="Home" asp-action="LoanGame" method="post">
                <input type="hidden" name="ID" value="@Model.Id" />
                <tr class="col-sm-12 row">
                @if (@Model.LoanedTo == null)
                {
                    <td>
                        <input asp-for="LoanedTo" name= "LoanedTo" placeholder="Name"/>
                        <button class="btn btn-primary" type="submit">Loan Game</button>
                    </td>
                }
                else
                {
                    
                <td> Loaned to: @Model.LoanedTo on @Model.LoanDate.Value.ToLongDateString() </td>                    
                    <td>                            
                        <button class="btn btn-primary" type="submit">Return Game</button>
                    </td>
                }
                </tr>  
            </form>
        </table>
    </div>
}