@model Game

@if(Model == null)
{
    <h2>No Games in Collection</h2>
}
else
{
    <h3>@Model.Title</h3>
    <h3>@Model.Platform</h3>
    <h3>@Model.Genre</h3>
    <h3>@Model.Rating</h3>
    <h3>@Model.Year</h3>
    <h3>@Model.Image</h3>
    <h3>@Model.LoanedTo</h3>
    <h3>@Model.LoanDate</h3>
}