@model Game

@if(Model == null)
{
    <h2>No Games in Collection</h2>
}
else
{
    <div class="text-center">
        <table class="table table-bordered table-hover text-center">
            <tr>
                <td>
                    <img src="~/images/@Model.Image" width="400" height="500" />
                </td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td>@Model.Title</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td>Platform: @Model.Platform</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td>Genre(s): @Model.Genre</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td>ESRB Rating: @Model.Rating</td>
            </tr>
    
            <tr class="col-sm-12 row">
                <td>Year: @Model.Year</td>
            </tr>
    
            @if (@Model.LoanedTo == null)
            {
                <tr class="col-sm-12 row">
                    <form asp-controller="Home" asp-action="LoanGame" method="post">
                        <td>
                            
                            <input class="form-control" asp-for="LoanedTo" />                        
                            <p><br /></p>
                            <button class="btn btn-primary" type="submit">Loan</button>
                            <p><br /></p>
                        </td>
                    </form>
                </tr>
            }
            else
            {
                <tr class="col-sm-12 row">
                    <td>Loaned to: @Model.LoanedTo</td>
                    @*Input Form using post method
                        LoanController sending in name of loaner, game name, date and reload collection page
                    *@
                </tr>

                <tr class="col-sm-12 row">
                    <td>Loan Date: @Model.LoanDate</td>
                </tr>    
            }
        </table>
    </div>
}